<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ root_url }}/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="{{ root_url }}/bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ root_url }}/bootstrap/js/bootstrap-transition.js"></script>
<script src="{{ root_url }}/bootstrap/js/bootstrap-collapse.js"></script>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
<script src="{{ root_url }}/javascripts/slash.js"></script>
<script src="{{ root_url }}/javascripts/my.js"></script>
{% include fancybox.html %} <!-- Delete or comment this line to disable Fancybox -->
{% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %}
