<div class="container">
    <div class="row">
        <div class="span8">
            <div id="carousel" class="carousel" >
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img src="/images/products/hr001_800.jpg" alt=""/>
                        <div class="carousel-caption">
                            <h4>ZH-900C型高速自动纸盒糊盒机</h4>
                        </div>
                    </div>
                    <div class="item"><img src="/images/products/hr002_800.jpg" alt=""/>
                        <div class="carousel-caption">
                            <h4>ZH-900型高速自动纸盒糊盒机</h4>
                        </div> 
                    </div>
                    <div class="item"><img src="/images/products/hr003_800.jpg" alt=""/>
                        <div class="carousel-caption">
                            <h4>ZH-900B型高速自动纸盒糊盒机</h4>
                        </div>
                    </div> 
                    <div class="item"><img src="/images/products/hr004_800.jpg" alt=""/>
                        <div class="carousel-caption">
                            <h4>ES-800AC型高速全自动糊折盒机</h4>                        
                        </div>
                    </div> 
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
                <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
            </div>
        </div>
    </div>
</div>
