<div class="container h_top">
    <div class="row">
        <div class="span2"> 
            <a href="{{ root_url }}/">
                <img src="{{ root_url }}/images/banner.png" alt="logo" />
            </a>
        </div>
        <div class="span6"> 
            <a href="{{ root_url }}/">
                <img src="{{ root_url }}/images/logo.png" alt="sitename" />
            </a>                      
        </div> 
        <div class="pull-right"> 
            <br>
            <div class="btn btn-link">
                <a title="瑞安市鸿瑞包装机械有限公司!(www.hongrwei.com)" onclick="addFav('瑞安市鸿瑞包装机械有限公司', 'www.hongrwei.com')">
                    收藏本站
                </a>
            </div>
            <div class="btn btn-link">
                <a href="/sitemap.xml">网站地图</a>
            </div>
            <br>
            <p>
                服务热线：0577-65665666
            </p> 
        </div>   
    </div>
</div>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="mobile-nav">
    <div class="alignleft menu">
        <a class="button">Menu</a>
        <div class="container">{% include navigation.html %}</div>
    </div>
    <div class="alignright search">
        <a class="button"></a>
        <div class="container">
            <form action="{{ site.simple_search }}" method="get">
                <input type="text" name="q" results="0">
                <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
            </form>
            <div class="row">
                <br>
            </div>
        </div>
    </div>
</nav>
{% include custom/header.html %}
