<div class="container">
    <div class="slider">      
        <div class="slider-item">
            <img src="/images/products/hr001_800.jpg" alt="loading"/>
            <div class="caption">
                <a href="/zh-900c-intro/"><font color="#FFFFFF">ZH-900C型高速自动纸盒糊盒机</font></a>
            </div>
        </div>
        <div class="slider-item">
            <img src="/images/products/hr002_800.jpg" alt="loading"/>
            <div class="caption">
                <a href="/zh-900-intro/"><font color="#FFFFFF">ZH-900型高速自动纸盒糊盒机</font></a>
            </div>   
        </div>
        <div class="slider-item">
            <img src="/images/products/hr003_800.jpg" alt="loading"/>
            <div class="caption">
                <a href="/zh-900b-intro/"><font color="#FFFFFF">ZH-900B型高速自动纸盒糊盒机</font></a>
            </div>    
        </div> 
        <div class="slider-item">
            <img src="/images/products/hr004_800.jpg" alt="loading"/>
            <div class="caption">
                <a href="/es-800ac-intro/"><font color="#FFFFFF">ES-800AC型高速全自动糊折盒机</font></a>
            </div>  
        </div>  
    </div> 
</div>
